* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    height: 100vh;
}

header {
    text-align: center;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    font-weight: 500;
    color: #F9F4DA;
}

p {
    max-width: 350px;
    color: #8E8E8E;
}

.langs {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
}

.langs > li {
    margin-right: 1.5px;
    border-radius: 3px;
    padding: 5px;
    font-weight: 700;
    font-size: 14px;
}

.html {
    background-color: #E2680F;
}.css {
    background-color: #328AF1;
}.js {
    background-color: #F4EB13;
    color: #1E1E1E;
}.react {
    background-color: #2ED3E9;
    color: #1E1E1E;
}.ts {
    background-color: #298EC6;
}.node {
    background-color: #599137;
}.py {
    background-color: #FFD742;
    color: #1E1E1E;
}.ruby {
    background-color: #D02B2B;
}.asm {
    background-color: #2D519F;
}

.letters {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.letter-container {
    width: 50px;
    height: 50px;
    background-color: #323232;
    border-bottom: solid 1px #F9F4DA;
    margin-right: 2px;
}
